<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{#if post}}
    <title>{{meta_title}} | {{@blog.title}}</title>
    {{else}}
        {{#if message}}
    <title>{{message}} | {{@blog.title}}</title>
        {{else}}
    <title>{{meta_title}}</title>
        {{/if}}
    {{/if}}

    <meta name="description" content="{{meta_description}}" />
    <meta name="author" content="Orr Sella" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css" />
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}" />

    <meta name="msvalidate.01" content="43F5CFFF8E9DD5A06C8F7945767CF30C" />
    <meta name="google-site-verification" content="3C54VnYDUZdx3dlu8YGYMX-4JSgQUFPMHbPpUh3Bo5A" />

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-29484955-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
             <section class="copyright">&copy; {{date format="YYYY"}} <a href="/">{{@blog.title}}</a>. All rights reserved.</section>
             <section>Theme based on Vapor by <a href="http://sethlilly.com/">Seth Lilly</a></section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org"><span class="hidden">Ghost</span></a></section>
        </div>
    </footer>

    {{ghost_foot}}

    <script type="text/javascript" src="/assets/js/index.js"></script>

</body>
</html>
