{{!< default}}

<header id="site-head">
    {{> links}}
    {{#if @blog.logo}}<a id="blog-logo" href="{{@blog.url}}"><div class="bloglogo" style="background: url({{@blog.logo}})"></div></a>{{/if}}
    <h1 class="blog-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">

        <header>
        <h1 class="post-title">{{code}} — {{message}}</h1>
        </header>

        {{#if stack}}
            <section class="error-stack">
                <h3>Stack Trace</h3>
                <p><strong>{{message}}</strong></p>
                <ul class="error-stack-list">
                    {{#foreach stack}}
                        <li>
                            at
                            {{#if function}}<em class="error-stack-function">{{function}}</em>{{/if}}
                            <span class="error-stack-file">({{at}})</span>
                        </li>
                    {{/foreach}}
                </ul>
            </section>
        {{/if}}

    </article>

</main>
